<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gulp complete boilerplate</title>
	<!-- styles -->
		<link rel="stylesheet" href="styles/main.bundle.css">
</head>
<body>
@@include("./html-parts/header.html")

<h1>Gulp complete boilerplate</h1>

@@include("./html-parts/footer.html")

<!-- script -->
<script src="scripts/main.bundle.js"></script>
</body>
</html>